#{{ ansible_managed }}

JAVA_HOME={{ spark_java_home }}
SPARK_DAEMON_JAVA_OPTS="-Dspark.deploy.recoveryMode=ZOOKEEPER -Dspark.deploy.zookeeper.url={{ spark_zookeeper_url }}  -Dspark.deploy.zookeeper.dir=/spark"

SPARK_HOME={{ spark_path }}

SPARK_MASTER_HOST={{ spark_master_host }}

SPARK_WORKER_CORES={{ spark_worker_cores }}
SPARK_WORKER_MEMORY={{ spark_worker_memory }}

